*{
  margin: 0;
  padding: 0;
  color: #333333;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.6rem;
}

.search-style{
  display: none;
}

header{
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.header{
  font-size: 18px;
  letter-spacing: 5px;
  text-align: left;
}

#nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  box-shadow: 4px 4px 18px rgba(0,0,0,.1);
  mix-blend-mode: multiply;
  border-bottom-left-radius: 1.2rem;
  z-index: 999;
  transition: 1s ease-in;
}

.nav_toggle {
  display: block;
  position: relative;
  margin: auto;
  top: 0.875rem;
  width: 1.75rem;
  height: 1.5rem;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  box-shadow: 4px 4px 18px rgba(0,0,0,.1);
  z-index: 998;
}

.nav.show {
    opacity: 1;
    visibility: visible;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li{
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

nav ul li a{
  font-weight: bold;
  font-size: 150%;
  letter-spacing:3px;
  color: #333;
}

main{
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
  position: relative;
  z-index: 1;
}

h1{
  margin: 2rem;
  font-size: 24px;
  letter-spacing: 8px;
  text-align: center;
}

h3{
  margin: 1rem 0 .5rem;
  letter-spacing: 2px;
  text-align: left;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 5px 0;
  font-size: 85%;
  letter-spacing: 2px;
}

p{
  text-align: left;
}

.alfa{
  letter-spacing: 3px;
  padding-right: 2px;
}

.p-small{
  letter-spacing: none;
  padding-right: 2px;
}

li {
  margin-left: 10px;
  text-align: left;
}

ul, ol {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

#container {
  width: 100%;
  margin: auto;
}

article{
  margin: 0 auto;
}

section{
  text-align: center;
}

svg{
  width: 80%;
  margin: 0 1rem auto;
  fill: none;
}

table{
  margin: 1rem;
}

audio{
  margin: 1rem;
}

table, th, td{
  border: 1px solid #333333;
}

table{
  width: 80%;
  margin: 0 auto;
}

th,td{
  width: 10%;
  margin: .5rem;
}

.next{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.arrow-next{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
}
.arrow-next:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  transform: rotate(45deg);
}


.arrow-back {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  color: #333;
  text-decoration: none;
}
.arrow-back:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #333;
  border-left: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg);
}


footer{
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  box-shadow: 4px 4px 18px rgba(0,0,0,.1);
  padding: .5rem;
  font-size: 75%;
  position: relative;
}

.logo{
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.logo b{
  font-size: 128%;
  color: #333;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.breadcrumb li {
  display: inline-flex;
  list-style: none;
}

.breadcrumb li:after {
  content: '>';
  color: #fff;
  margin: 0 -5px;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a span{
  text-decoration: none;
  color: #333;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a{
  display: block;
  padding: 0 10px;
  color: #333;
}

.twitter-share-button{
  margin-left: 1rem;
}

form{
  width: 80%;
  padding: 1rem;
}

input{
  border: solid 1px #ccc;
  background: none;
  border-radius: 3px;
  padding: 8px;
}

button{
  appearance: none;
  border: 0;
  background: #111;
  border-radius: 3px;
  padding: 8px;
  position: relative;
  top: 1px;
}

.copy{
  border-top: 1px solid #ccc;
}

footer p{
  padding-top: 1rem;
  text-align: center;
  color: #333;
}

@media screen and (min-width: 600px) {

  nav{
    width: 30%;
    left: 70%;
  }

  h1{
    margin: 2rem;
    font-size: 24px;
    letter-spacing: 8px;
    text-align: center;
  }

  h3{
    margin: 2rem 0 1rem;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: left;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 90%;
    letter-spacing: 3px;
  }

  .twitter-share-button{
    margin-left: .5rem;
  }

  form{
    padding: .5rem;
  }

}

@media screen and (min-width: 1025px) {

  .header{
    letter-spacing: 8px;
    font-size: 16px;
  }

  #container{
    max-width: 960px
  }

  h1{
    margin: 2rem;
    font-size: auto;
    letter-spacing: 2px;
    text-align: center;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 95%;
    letter-spacing: 4px;
  }

}
