._parallax_text {
  border: solid 32px transparent;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 calc(50% - 320px);
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
._parallax_text:not(:first-child) {
  margin-top: 100vh;
}
._parallax_text:not(:last-child) {
  margin-bottom: -100vh;
}
._parallax_img {
  height: 100vh;
  margin: 0;
  position: sticky;
  top: 0;
}
._parallax_img .img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
._parallax_img .text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.colorBlack {
  color: #333;
}
