.piano-wrapper{
  width: 95%;
  margin: 0 auto;
}

ul{
  margin: 0;
  padding: 0;
}

.white-key.click{box-shadow: none;}

.piano {
  text-align: center;
  display: flex;
  overflow: hidden;
  height: 220px;
}

.key {
  display: inline-flex;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  cursor: pointer
}

.key span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.key span i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.key .white-key {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 1px rgba(32, 32, 32, .2);
  margin: 0 -2px;
  width: 100%;
  height: 190px;
  transition: background-color 50ms ease, box-shadow 50ms ease;
}

.key .black-key {
  content: "";
  box-shadow: inset 0 -1px 2px rgba(255, 255, 255, .4), 0 2px 3px rgba(0, 0, 0, .4);
  background: #111;
  transition: background-color 50ms ease, box-shadow 50ms ease;
  box-shadow: 0 5px 1px rgba(32, 32, 32, .2);
  border-width: 1px;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  height: 110px;
  position: absolute;
  top: 0;
  right: -40%;
  width: 80%;
  z-index: 10;
}

.key .black-key i {
  display: block;
  line-height: .8rem;
  text-align: center;
  position: relative;
}

.key .black-key i span {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
