*{
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  overflow: auto;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.6rem;
}

#container{
  max-width: 960px;
  margin: 0 auto;
}

.search-style{
  display: none;
}

.load-up{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translate(-50%, 100px);
  animation: loadUp 1s ease forwards;
}
  @keyframes loadUp {
    0%{
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, 100px);
    }
    100%{
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }

.scroll-up{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(100px);
}
.scroll-up-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(100px);
}
.scroll-up-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(100px);
}

.scroll-down{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(-100px);
}
.scroll-down-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(-100px);
}
.scroll-down-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(-100px);
}

.scroll-slide-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(100px);
}
.scroll-slide-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(-100px);
}

.fade-in{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.active2{
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}

article{
  margin: 0 auto;
  text-align: center;
  position: relative;
}

section{
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
  position: relative;
  z-index: 1;
}
h1, h2, h3, h4, h5, h6{

}

h1{
  padding: 2px;
  letter-spacing: 5px;
  text-align: center;
  color: #333;
}

h2{
  color: #333;
}

h3{
  margin: 1rem 0 .5rem;
  letter-spacing: 2px;
  text-align: left;
  color: #333;
}

blockquote, ul, ol, dl, li, table, pre {
  margin: 5px 0;
  font-size: 85%;
  letter-spacing: 2px;
}

.p-center{
  margin: 0 auto;
  width: 80%;
}
p{
  text-align: left;
  margin: 0 0 0 1rem;
  font-size: 85%;
  letter-spacing: 0;
}

span{
  display: inline-block;
}

li {
  margin-left: 10px;
  text-align: left;
}

ul, ol {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

svg{
  width: 80%;
  height: auto;
  margin: .5rem auto;
  fill: transparent;
  transition: all 1s ease-out;
}
path, rect{
  transition: all 1s ease-out;
}

table{
  background: transparent;
  width: 80%;
  margin: .5rem auto;
  transition: all 1s ease-out;
}

th,td{
  background: transparent;
  width: 10%;
  margin: .5rem;
  border: 1px solid #888;
  transition: all 1s ease-out;
}

audio{
  margin: .5rem auto;
}

img{
  width: 100%;
  height: auto;
}

.fixed{
  position: fixed;
}

#mainImage{
  position: absolute;
  top: 0;
  right: 0;
}

#top{
  padding: 0;
  margin: 0;
  height: 100vh;
}
#top div:nth-child(1){
  width: 80%;
  padding: 2rem 0;
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 1px 1px 16px 16px rgba(0, 0, 0, .1);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top h1, #top h4{
  background: linear-gradient(25deg, #ff7fff, #d8b2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

#what{
  height: 100vh;
}
#what div:nth-child(1){
  width: 90%;
  padding: 2rem 0;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#what h1{
  background: linear-gradient(25deg, #ff7fff, #d8b2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#what p{
  padding: 1rem 0;
}
#starDream{
  background: linear-gradient(25deg, #7fffff, #7f7fff);
}
#starDream h1{
  padding: 4rem;
  color: #fff;
}
#starDream img{
  background-attachment: fixed;
  width: 300%;
  height: auto;
  position: absolute;
  top: 0;
  left: -100%;
}
#starDream p{
  text-align: center;
  font-weight: bold;
  color: #fff;
}
#starDream li{
  color: #fff;
  font-weight: bold;
}

.scrolldown1{
  position:absolute;
  left:50%;
  bottom:50px;
  height:50px;
}
.scrolldown1 span{
  position: absolute;
  left:-15px;
  top: -15px;
  color: #333;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}
.scrolldown1::after{
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #333;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}


.colorGold{
  color: #a89869;
  font-size: 20px;
  background: linear-gradient(25deg, #a89869, #d7c447);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll {
  position: absolute;
  bottom: 5em;
  left: 43%;
  width: 3em;
  height: 3em;
  z-index: 999;
}
.scroll span {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 25%;
  left: 33%;
  transform: translateY(0) rotate(-45deg);
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  z-index: 2;
  animation: popping-arrow 2s infinite ease-out;
}
.scroll span:hover {
  transform: translateY(.5em) rotate(-45deg) ;
  animation: paused;
}
@keyframes popping-arrow {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  30% {
    transform: translateY(.5em) rotate(-45deg);
  }
  60% {
    transform: translateY(0) rotate(-45deg);
  }
}

.wrap{
  width: 100%;
  height: auto;
}

.flexMobile{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexMobile img{
  width: 50%;
  height: 50%;
}

.youtube {
  width: 96%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%; /* 16:9の場合*/
  height: 0;
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  padding: .5rem;
  font-size: 75%;
  display: flex;
  align-items: center;
}

footer p{
  text-align: center;
  color: #fff;
}

.arrow-next{
  display: inline-block;
  display: block;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
  list-style-type: disc
}
.arrow-next::after{
  content: "";
  width: 6px;
  height: 6px;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  display: inline-block;
  transform: rotate(45deg);
}
.arrow-next:hover{
  color: #FF8800;
}
.arrow-next:hover::after{
  border-right: 1px solid #FF8800;
  border-top: 1px solid #FF8800;
}

@media screen and (min-width: 600px) {

  #container{
    width: 100%;
    margin: 0 auto;
  }

  h1{
    padding: 2px;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 93%;
    letter-spacing: 3px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  .scrolldown1 span{
    color: #fff;
  }
  .scrolldown1::after{
    background: #fff;
  }
}

@media screen and (min-width: 960px) {
  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 95%;
    letter-spacing: 4px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex img{
    width: 50%;
    height: 50%;
  }

  #mainImage{
    width: 70%;
    height: auto;
  }

  #top div:nth-child(1){
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%, -50%);
  }

  #what div:nth-child(1){
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 1px 1px 16px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 90%;
    padding: 2rem 0;
    margin: 0 auto;
  }
  #what div:nth-child(1) p{
    margin: 1rem 2rem;
    text-align: center;
  }

  #starDream img{
    width: 200%;
    left: -50%;
  }
  #starDream div:nth-child(4){
    display: flex;
    justify-content: space-around;
  }
}
