*{
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}

html {

}

html{
  scroll-behavior: smooth;
  overflow: auto;
  box-sizing: border-box;
  --bgColorMenu: #1d1d27;
  --duration: .7s;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.6rem;
  margin: 0 .5rem;
  background: linear-gradient(90deg, #ffb457, #ffbf7f);
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);
}

#container{
  max-width: 960px;
  margin: 0 auto;
}

.search-style{
  display: none;
}

.scroll-up{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(100px);
}
.scroll-up-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(100px);
}
.scroll-up-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(100px);
}

.scroll-down{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(-100px);
}
.scroll-down-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(-100px);
}
.scroll-down-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(-100px);
}

.scroll-slide-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(100px);
}
.scroll-slide-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(-100px);
}

.fade-in{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.active2{
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}

.menu {
  margin: 0 -.5rem;
  width: 100%;
  font-size: .8em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgColorMenu);
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.menu a{
  display: block;
}

.menu__item {
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  padding: 0.55em 0 0.85em;
  justify-content: center;
  transition: transform var(--timeOut, var(--duration));
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
}

.menu__item.active {
  transform: translate3d(0, -.8em, 0);
}

.menu__item.active::before {
  transform: scale(1);
  background-color: var(--bgColorItem);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.menu__item.active .icon {
  animation: strok 1.5s reverse;
}
@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu__border {
  left: -8%;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: all 1s;
}

.svg-container {
  width: 0;
  height: 0;
}

article{
  margin: 0 auto;
  text-align: center;
  position: relative;
}

section{
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
  position: relative;
  z-index: 1;
}

h1{
  margin: 2rem;
  letter-spacing: 10px;
  text-align: center;
  color: #fff;
  background: linear-gradient(25deg, #fff, #ffd6ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  color: #fff;
  background: linear-gradient(25deg, #fff, #ffd6ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  margin: 1rem 0 .5rem;
  letter-spacing: 2px;
  text-align: left;
  color: #fff;
  background: linear-gradient(25deg, #fff, #ffd6ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

blockquote, ul, ol, dl, li, table, pre {
  margin: 5px 0;
  font-size: 85%;
  letter-spacing: 2px;
}

.p-center{
  margin: 0 auto;
  width: 80%;
}
p{
  text-align: left;
  margin: 0 0 0 1rem;
  font-size: 85%;
  letter-spacing: 0;
}

span{
  display: inline-block;
}

li {
  margin-left: 10px;
  text-align: left;
}

ul, ol {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

svg{
  width: 80%;
  height: auto;
  margin: .5rem auto;
  fill: transparent;
  transition: all 1s ease-out;
}
path, rect{
  transition: all 1s ease-out;
}

table{
  background: transparent;
  width: 80%;
  margin: .5rem auto;
  transition: all 1s ease-out;
}

th,td{
  background: transparent;
  width: 10%;
  margin: .5rem;
  border: 1px solid #888;
  transition: all 1s ease-out;
}

audio{
  margin: .5rem auto;
}

img{
  width: 100%;
  height: auto;
}

#home{
  height: 100vh;
  position: relative;
}
#home .center1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hello{
  font-size: 26px;
  letter-spacing: normal;
  line-height: 36px;
}
#main-image{
  margin-top: 3rem;
  width: 70%;
  margin-left: 10%;
  height: auto;
}

#profile{
  height: 100vh;
}
#profile h3{
  margin: 0 0 0 1rem;
}

#contact{
  height: 100vh;
  position: relative;
}

.colorGold{
  color: #a89869;
  font-size: 20px;
  background: linear-gradient(25deg, #a89869, #d7c447);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll {
  position: absolute;
  bottom: 5em;
  left: 43%;
  width: 3em;
  height: 3em;
  z-index: 999;
}
.scroll span {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 25%;
  left: 33%;
  transform: translateY(0) rotate(-45deg);
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  z-index: 2;
  animation: popping-arrow 2s infinite ease-out;
}
.scroll span:hover {
  transform: translateY(.5em) rotate(-45deg) ;
  animation: paused;
}
@keyframes popping-arrow {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  30% {
    transform: translateY(.5em) rotate(-45deg);
  }
  60% {
    transform: translateY(0) rotate(-45deg);
  }
}

#main-image{
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#profile img{
  width: 150px;
  height: auto;
  text-align: left;
}

#myname{
  display: flex;
  align-items: baseline;
}

#myname p{
  margin-left: .2rem;
  font-size: 75%;
  letter-spacing: 0px;
}


#svg01{
  stroke: #4c4cff;
}
#svg01 g path{
  fill: #4c4cff;
}

.wrap{
  width: 100%;
  height: auto;
}

.flexMobile{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexMobile img{
  width: 50%;
  height: 50%;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9の場合*/
  height: 0;
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  padding: .5rem;
  font-size: 75%;
  position: relative;
}

.copy{
  border-top: 1px solid #ccc;
}

footer p{
  padding-top: 1rem;
  text-align: center;
  color: #333;
}

.arrow-next{
  display: inline-block;
  display: block;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
  list-style-type: disc
}
.arrow-next::after{
  content: "";
  width: 6px;
  height: 6px;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  display: inline-block;
  transform: rotate(45deg);
}
.arrow-next:hover{
  color: #FF8800;
}
.arrow-next:hover::after{
  border-right: 1px solid #FF8800;
  border-top: 1px solid #FF8800;
}

@media screen and (min-width: 400px) {.menu__border {  left: -7%}}
@media screen and (min-width: 450px) {.menu__border {  left: -6%}}
@media screen and (min-width: 500px) {.menu__border {  left: -4%}}
@media screen and (min-width: 550px) {.menu__border {  left: -3%}}
@media screen and (min-width: 600px) {

  #container{
    width: 50%;
    margin: 0 auto;
  }

  .menu__border {
    left: -1%
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 93%;
    letter-spacing: 3px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  .scroll{
    left: 48%;
  }

  #profile{
    width: 90%;
  }

  #name01{
    font-size: 100px;
    writing-mode: vertical-rl;
    color: #FF8800;
    opacity: .4;
    mix-blend-mode: multiply;
    position: absolute;
    top: -500px;
    left: -55%;
    z-index: 10;
  }

  #works{
    width: 80%;
  }

  #contact{
    width: 80%;
  }
}

@media screen and (min-width: 650px) {.menu__border {  left: -.5%  }}
@media screen and (min-width: 700px) {.menu__border {  left: -0%  }}
@media screen and (min-width: 750px) {.menu__border {  left: .5%  }}
@media screen and (min-width: 800px) {.menu__border {  left: 1%  }}
@media screen and (min-width: 850px) {.menu__border {  left: 1.5%  }}
@media screen and (min-width: 900px) {.menu__border {  left: 2%  }}
@media screen and (min-width: 950px) {.menu__border {  left: 2.5%  }}
@media screen and (min-width: 960px) {

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 95%;
    letter-spacing: 4px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  #main-image{
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex img{
    width: 50%;
    height: 50%;
  }

  #profile{
    width: 60%;
  }
  #profile li{
    margin-left: 4rem;
  }

  #works{
    width: 50%;
    margin: 0 auto;
  }

  #book01{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #book01 img{
    width: 50%;
    height: 50%;
  }

  #tow-tone img{
    width: 50%;
    height: 50%;
  }

  #tow-tone div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #contact{
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {.menu__border {left: 3%}}
@media screen and (min-width: 1050px) {.menu__border {left: 3.5%}}
@media screen and (min-width: 1150px) {.menu__border {left: 4%}}
@media screen and (min-width: 1250px) {.menu__border {left: 4.5%}}
@media screen and (min-width: 1350px) {.menu__border {left: 5%}}
@media screen and (min-width: 1500px) {.menu__border {left: 5.5%}}
@media screen and (min-width: 1650px) {.menu__border {left: 6%}}
@media screen and (min-width: 1800px) {.menu__border {left: 6.5%}}
