*{
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.6rem;
}

.search-style{
  display: none;
}

.scroll-up{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(100px);
}
.scroll-up-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(100px);
}
.scroll-up-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(100px);
}

.scroll-down{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(-100px);
}
.scroll-down-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(100px) translateY(-100px);
}
.scroll-down-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  animation-timing-function: ease-out;
  transform: translateX(-100px) translateY(-100px);
}

.scroll-slide-l{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(100px);
}
.scroll-slide-r{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(-100px);
}

.fade-in{
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}

header{
  height: 3.5rem;
  display: flex;
  align-items: center;
}
header h1{
  font-size: 80%;
  letter-spacing: 2px;
  text-align: left;
  position: fixed;
  top: -1rem;
  left: -1rem;
  z-index: 998;
}

#nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  box-shadow: 4px 4px 18px rgba(0,0,0,.1);
  mix-blend-mode: multiply;
  border-bottom-left-radius: 1.2rem;
  z-index: 999;
  transition: 1s ease-in;
}
#nav.nav{
  mix-blend-mode: normal;
  background: transparent;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  box-shadow: none;
  transition: 1s ease-out;
}

#nav_toggle {
  display: block;
  position: relative;
  margin: auto;
  top: 0.875rem;
  width: 1.75rem;
  height: 1.5rem;
}
#nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
#nav_toggle i:nth-child(1) {
  top: 0;
}
#nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
#nav_toggle i:nth-child(3) {
  bottom: 0;
}
#nav_toggle.nav_toggle i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
#nav_toggle.nav_toggle i:nth-child(2) {
  opacity: 0;
}
#nav_toggle.nav_toggle i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  background: rgba(255, 255, 255, .7);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  z-index: 998;
}
#navigation.navigation {
  opacity: 1;
  visibility: visible;
}

nav ul {
  padding-left: 0;
  list-style: none;
}

nav ul li{
  margin-top: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav ul li a{
  font-weight: bold;
  letter-spacing:3px;
  font-size: 150%;
  padding-top: 2rem;
  color: #333;
}

article{
  margin: 0 auto;
  text-align: center;
  position: relative;
}

section{
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, b, li, a, table, th, td, audio{
  position: relative;
  z-index: 1;
}

h1{
  margin: 2rem;
  letter-spacing: 10px;
  text-align: center;
  color: #FF8800;
  background: linear-gradient(25deg, #FF8800, #ffff33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hello{
  font-size: 28px;
  letter-spacing: normal;
  line-height: 36px;
}

h2{
  color: #FF8800;
  background: linear-gradient(25deg, #FF8800, #ffff33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: 2rem;
  letter-spacing: 2px;
  text-align: left;
  color: #FF8800;
  background: linear-gradient(25deg, #FF8800, #ffff33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

blockquote, ul, ol, dl, li, table, pre {
  margin: 5px 0;
  font-size: 85%;
  letter-spacing: 2px;
}

.p-center{
  margin: 0 auto;
  width: 80%;
}
p{
  text-align: left;
  margin: 0 0 0 1rem;
  font-size: 85%;
  letter-spacing: 0;
}

span{
  display: inline-block;
}

li {
  margin-left: 10px;
  text-align: left;
}

ul, ol {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

svg{
  width: 80%;
  height: auto;
  margin: .5rem auto;
  fill: transparent;
  transition: all 1s ease-out;
}
path, rect{
  transition: all 1s ease-out;
}

table{
  background: transparent;
  width: 80%;
  margin: .5rem auto;
  transition: all 1s ease-out;
}

th,td{
  background: transparent;
  width: 10%;
  margin: .5rem;
  border: 1px solid #888;
  transition: all 1s ease-out;
}

audio{
  margin: .5rem auto;
}

img{
  width: 100%;
  height: auto;
}

.music.none{
  display: none;
}
.bgm.none{
  display: none;
}
.song.none{
  display: none;
}
.graphic.none{
  display: none;
}
.design.none{
  display: none;
}
.illustration.none{
  display: none;
}
#MGBtn{
  position:fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 900;
}
#MGBtn p{
  text-align:center;
  margin: 1rem 0;
  padding: .5rem 0;
  width: 6.5rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 3px 3px rgba(200,200,200,.2), -2px -2px 3px 3px rgba(255, 255, 255,.3);
  border: 1px solid #fff;
  background: #eeeeee;
  color: #333;
  font-weight: normal;
  letter-spacing: 0;
  transition: all 1s;
}
#musicBtn.none{display: none;}
#musicBtn.active{
  box-shadow:inset 3px 3px 7px 3px rgba(250,250,250,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);
  background: linear-gradient(25deg, #4c4cff, #7abcff);
  color: #fff;
  font-weight: bold;
}
#bgmBtn{display: none;}
#bgmBtn.active{display: block;}
#bgmBtn.active2{
  box-shadow:inset 3px 3px 7px 3px rgba(250,250,250,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);
  background: linear-gradient(25deg, #66ba24, #ddeeff);
  color: #fff;
  font-weight: bold;
}
#songBtn{display: none;}
#songBtn.active{display: block;}
#songBtn.active2{
  box-shadow:inset 3px 3px 7px 3px rgba(250,250,250,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);
  background: linear-gradient(25deg, #ff5656, #ddeeff);
  color: #fff;
  font-weight: bold;
}
#graphicBtn.none{display: none;}
#graphicBtn.active{
  box-shadow:inset 3px 3px 7px 3px rgba(250,250,250,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);
  background: linear-gradient(25deg, #FF8800, #ffff33);
  color: #fff;
  font-weight: bold;
}
#designBtn{display: none;}
#designBtn.active{display: block;}
#designBtn.active2{
  box-shadow:inset 3px 3px 7px 3px rgba(250,250,250,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);
  background: linear-gradient(25deg, #ffa54d, #ffffe6);
  color: #fff;
  font-weight: bold;
}
#illustrationBtn{display: none;}
#illustrationBtn.active{display: block;}
#illustrationBtn.active2{
  box-shadow:inset 3px 3px 7px 3px rgba(250,250,250,.2),inset -2px -2px 8px 3px rgba(255,255,255,.1);
  background: linear-gradient(25deg, #7abcff, #ffffe6);
  color: #fff;
  font-weight: bold;
}


#home{
  margin-top: 2rem;
  height: 90vh;
}

#main-image{
  margin-top: 3rem;
  width: 70%;
  margin-left: 10%;
  height: auto;
}

.colorGold{
  color: #a89869;
  font-size: 20px;
  background: linear-gradient(25deg, #a89869, #d7c447);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll {
  position: absolute;
  bottom: 5em;
  left: 43%;
  width: 3em;
  height: 3em;
  z-index: 999;
}
.scroll span {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 25%;
  left: 33%;
  transform: translateY(0) rotate(-45deg);
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  z-index: 2;
  animation: popping-arrow 2s infinite ease-out;
}
.scroll span:hover {
  transform: translateY(.5em) rotate(-45deg) ;
  animation: paused;
}
@keyframes popping-arrow {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  30% {
    transform: translateY(.5em) rotate(-45deg);
  }
  60% {
    transform: translateY(0) rotate(-45deg);
  }
}

#main-image{
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#profile img{
  width: 150px;
  height: auto;
  text-align: left;
}

#myname{
  display: flex;
  align-items: baseline;
}

#myname p{
  margin-left: .2rem;
  font-size: 75%;
  letter-spacing: 0px;
}


#svg01{
  stroke: #4c4cff;
}
#svg01 g path{
  fill: #4c4cff;
}


.wrap{
  width: 100%;
  height: auto;
}

.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9の場合*/
  height: 0;
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  padding: .5rem;
  font-size: 75%;
  position: relative;
}

.copy{
  border-top: 1px solid #ccc;
}

footer p{
  padding-top: 1rem;
  text-align: center;
  color: #333;
}

.arrow-next{
  display: inline-block;
  display: block;
  padding-right: 10px;
  color: #333;
  text-decoration: none;
  list-style-type: disc
}
.arrow-next::after {
  content: ' ＞';
}
.arrow-next:hover{
  color: #FF8800;
}

@media screen and (min-width: 600px) {

  header h1{
    top: -1rem;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 93%;
    letter-spacing: 3px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  .scroll{
    left: 48%;
  }

  #profile{
    width: 50%;
  }

  #name01{
    font-size: 100px;
    writing-mode: vertical-rl;
    color: #FF8800;
    opacity: .4;
    mix-blend-mode: multiply;
    position: absolute;
    top: -500px;
    left: -55%;
    z-index: 10;
  }

  #works{
    width: 80%;
  }

  #contact{
    width: 80%;
  }

}

@media screen and (min-width: 1024px) {

  header h1{
    font-size: 120%;
    letter-spacing: 2px;
    text-align: left;
    padding: 0;
    margin-top: 3rem;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 5px 0;
    font-size: 95%;
    letter-spacing: 4px;
  }

  table{
    margin: 1rem auto;
  }

  audio{
    margin: 1rem auto;
  }

  #main-image{
    width: 20%;
    height: auto;
    margin: 0 auto;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex img{
    width: 50%;
    height: 50%;
  }

  #profile{
    width: 50%;
  }
  #profile li{
    margin-left: 4rem;
  }

  #works{
    width: 50%;
    margin: 0 auto;
  }

  #book01{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #book01 img{
    width: 50%;
    height: 50%;
  }

  #tow-tone img{
    width: 50%;
    height: 50%;
  }

  #tow-tone div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #contact{
    margin: 0 auto;
    width: 50%;
  }
}
